@use '../../node_modules/@cover-ui/sass/src/cover-ui.scss' as cui;

// Theme and variables to use.
$theme: cui.$default-theme;
$variables: cui.$default-variables;

// Defines the cover ui theme to use with the theme and variables needed.
$cover-ui-theme: cui.define-theme($theme, $variables);

// Creates the styles with the default values.
@include cui.use-theme($cover-ui-theme);
