@use 'reset';
@use 'css-variables';

@mixin with-theme($theme) {
  @include reset.apply;

  // Import for the needed fonts and icons.
  @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css');

  @include css-variables.apply($theme);

  html,
  body {
    color: rgb(var(--text-color));
    background-color: rgb(var(--background-color));
    height: 100%;
    font-family: var(--font-family);
  }
}
